@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-green-dark: #709270;
  --custom-green-soft: #bed5b0;
  --custom-green-softer: #e4efde;
}

html {
  scroll-behavior: smooth;
}
